<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildMachineOSBuild</key>
		<string>19D76</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>蜜桃视频</string>
		<key>CFBundleExecutable</key>
		<string>QzVideoPlay</string>
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon20x20</string>
					<string>AppIcon29x29</string>
					<string>AppIcon40x40</string>
					<string>AppIcon60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon</string>
			</dict>
		</dict>
		<key>CFBundleIdentifier</key>
		<string>com.rubbishflips.Bluetide</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>zh_CN</string>
			<string>zh_TW</string>
			<string>en</string>
		</array>
		<key>CFBundleName</key>
		<string>QzVideoPlay</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>iPhoneOS</string>
		</array>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>DTCompiler</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DTPlatformBuild</key>
		<string>17F65</string>
		<key>DTPlatformName</key>
		<string>iphoneos</string>
		<key>DTPlatformVersion</key>
		<string>13.5</string>
		<key>DTSDKBuild</key>
		<string>17F65</string>
		<key>DTSDKName</key>
		<string>iphoneos13.5</string>
		<key>DTXcode</key>
		<string>1150</string>
		<key>DTXcodeBuild</key>
		<string>11E608c</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>MinimumOSVersion</key>
		<string>9.0</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>App需要通过相机扫描二维码打开网页，可以在设置中进行更改。</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>App需要获得相册照片用于修改头像和二维码数据打开网页,可以在设置中进行更改</string>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UserId</key>
		<string>6sghgk9LSmPWvqOcOHl6Zg==_com.rubbishflips.Bluetide</string>
	</dict>
</plist>